@import "../../css/colors.css";
@import "../../css/units.css";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(94, 102, 125, .95);
}

.modal-content {
    width: 600px;
    margin: 100px auto;
    outline: none;
    border: 3px solid rgb(126, 133, 151);
    padding: 0;
    border-radius: $space;
    user-select: none;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5d647a;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: $library-header-height;

    box-sizing: border-box;
    width: 100%;
    background-color: $motion-primary;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}


$sides: 5rem;

.header-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: white;
    user-select: none;
}

.header-item-filter {
    display: flex;
    flex-basis: $sides;
    justify-content: flex-start;
}

.header-item-title {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    user-select: none;
    letter-spacing: 0.4px;
    cursor: default;
}

.header-item-close {
    flex-basis: $sides;
    justify-content: flex-end;
}

.body {
    background: $ui-pane-gray;
    padding: 1.5rem 2.25rem;
}

.visualization-container {
    display: flex;
    justify-content: space-around;
}

.meter-container, .waveform-container {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;

}
.meter-container {
    margin-right: 5px;
    height: 180px;
}

.waveform-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 180px;
    position: relative;
}

.help-text {
    margin: 10px auto 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(167, 170, 181);
    font-size: 0.95rem;
    font-weight: 500;
}

.playing-text {
    color: $motion-primary;
}

.recording-text {
    color: $red-primary;
}

.main-button-row {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.main-button-row button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background: transparent;
    border: none;
}

.main-button-row button:active, .main-button-row button:focus {
    outline: none;
}

.button-row {
    font-weight: bolder;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-pane-border;
    font-weight: 600;
    font-size: 0.85rem;
    color: $motion-primary;
}

.button-row button.ok-button {
    background: $motion-primary;
    border: $motion-primary;
    color: white;
}

.button-row button + button {
    margin-left: 0.5rem;
}

.main-button {
    text-align: center;
}

.record-button {
    overflow: visible;
}

.record-button-circle {
    fill: #FF661A;
    stroke: #E64D00;
}

.record-button-circle-outline {
    fill: #FF661A;
    opacity: 0.2;
    transition: 0.1s;
}




.trim-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.trim-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.trim-background-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF661A;
    border: 1px solid #E64D00;
    opacity: 0.5;

    background: repeating-linear-gradient(
        45deg,
        #FF661A,
        #FF661A 10px,
        #E64D00 10px,
        #E64D00 20px
    );
}

.start-trim-background .trim-background-mask {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.end-trim-background .trim-background-mask {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.trim-line {
    width: 0px;
    height: 100%;
    border: 1px solid #E64D00;
    position: absolute;
    top: 0;
}

.start-trim-line {
    right: 0;
}

.end-trim-line {
    left: 0;
}

$trim-handle-width: 12px;
$trim-handle-height: 14px;

.trim-handle {
    width: $trim-handle-width;
    height: $trim-handle-height;

    position: absolute;
    left: calc(-$trim-handle-width / 2);
}

.trim-handle img {
    position: absolute;
    width: $trim-handle-width;
    height: $trim-handle-height;

    user-select: none;
    user-drag: none;
    -webkit-user-drag: none; /* Why doesn't autoprefixer work for this? */
}

.top-trim-handle img {
    transform: rotate(180deg);
}

.top-trim-handle {
    top: -$trim-handle-height;
}

.bottom-trim-handle {
    bottom: -$trim-handle-height;
}
